version: '3'
services:
  nextjs:
    container_name: nextjs
    build:
      context: ./
      dockerfile: Dockerfile
  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - 8443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/
    depends_on:
      - nextjs
